*.bat text eol=crlf
*.command text eol=lf
tests/ export-ignore
.github/ export-ignore
requirements-dev.txt export-ignore
pyproject.toml export-ignore
.dockerignore export-ignore
*.txt text eol=crlf
.gitattributes export-ignore
.gitignore export-ignore
